body {
    margin: 0;
    background-image: url("images/background.jpg");
    background-repeat: no-repeat;   /*반복안되도록*/
    background-size: cover;         /*백그라운드 크기 fit되도록*/
}

.container {
    background-color: #fff;
    height: 100vh;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#task-input{
    border: none;
    background-color: rgb(236, 242, 244);
    max-width: 600px;
}
#add-button {
    border: none;
    background-color: lightblue;
    font-weight: 700;
    color: #fff;
    
}
.task-area {
    border: 1px solid lightblue;
    margin-top: 2em;
    position:relative;
}

.task-tabs {
    display: flex;
    border-bottom: 1px solid lightblue;
}
.task-tabs div {
    padding: 1em;
}
#under-line {
    height: 4px;
    background-color: rgb(143, 184, 198);
    position: absolute;
    width: 80px;
    left: 0px;
    top:52px;
    padding: 0;
}
.task {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}
.task button {
    border: none;
    background-color: lightblue;
    font-size: 0.8em;
    color: #434343;
}

.task-done {
    text-decoration: line-through;
}